@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.box {
  position: relative;
  width: 350px;
  height: 350px;
  background: repeating-conic-gradient(
    from var(--a),
    #CBD702 0%,
    #ff27cdc1 5%,
    transparent 5%,
    transparent 40%,
    #47ACC9 50%
  );
  filter: drop-shadow(0 15px 50px #47ACC9);
  animation: rotating 4s linear infinite;
  border-radius: 20px;
  display: flex;
  transition: 0.5s;
}

.box:hover {
  width: 450px;
  height: 500px;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #ff27cdc1 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 40%,
    #fff345 50%
  );
  filter: drop-shadow(0 15px 50px #fff345);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  animation-delay: -1s;
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: linear-gradient(90deg, #ffa700, #FFD700, #87CEFA, #00ccff);
  border-radius: 15px;
  border: 0.5px solid #999;
}

.boxinside {
  position: absolute;
  inset: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background: #ffaa33;
  z-index: 1000;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  color: #fff;
  overflow: hidden;
}

img {
        object-fit: cover;
        height: 100%;
        width: 100%;
}
  
.button {
  position: absolute;
    bottom: 126px;
    left: 680px;
    width: 184px;
    height: 45px;
    background: linear-gradient(90deg, #ffa700, #FFD700, #87CEFA, #00ccff);
    border: none;
    border-radius: 5px;
    color: #323232;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -1px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.5);
    width: 190px;
    height: 50px;
}

.select {
    position: absolute;
    bottom: 65px;
    left: 648px;
    width: 250px;
    height: 45px;
    background: linear-gradient(90deg, #ffa700, #FFD700, #87CEFA, #00ccff);
    border: none;
    border-radius: 5px;
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor : pointer;
    display: block;

}

span::after {
  float: right;
  right: 10px;
  content: "﹀";
}

.slide {
  clear:both;
  text-decoration: none;
  width: 100%;
  border-radius: 5px;
  float: right;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  background: linear-gradient(90deg, #ffa700, #FFD700, #87CEFA, #00ccff);
  font-weight: bold;
  font-size: 16px;
}

.slide li {padding : 1px;}

#touch {position: absolute; opacity: 0; height:0;}    

#touch:checked + .slide {height: 250%;}

a {
  background-image: linear-gradient(to right, rgb(0, 255, 170), rgb(0, 255, 255), rgb(0, 38, 255) 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background:  rgb(0, 255, 255);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.h1 {
  font-size: 61px;
}

.h2 {
  font-size: 61px;
}

header {
  position: absolute;
  font-size: 100px;
  background: radial-gradient(circle, rgb(255, 225, 0), rgb(0, 255, 162), rgb(0, 255, 255), rgb(0, 38, 255));   
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.h1 {
  left: 200px;
}

.h2 {
  right: 110px;
}

.flower {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall 5s linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

